<%- include('head.ejs') %>

  <form action="/create" method="POST">
    <div>
        <label for="name">Description:</label>
        <input type="text" name="description" id="description"> 
    </div>
    <div>
        <label for="url">ELK App URL:</label>
        <input type="text" name="url" id="url"> 
    </div>
    <div>
      <label for="url"># of Queries:</label>
      <input type="number" name="totalQueries" id="totalQueries"> 
    </div>
    <div>
      <label for="url">Concurrent tests:</label>
      <input type="number" name="concurrentTests" id="concurrent-tests" value="1"> 
    </div>
    <button class="btn" type="button" id="submit-button">Start test</button>
  </form>

<%- include('end.ejs') %>